<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/create_post_style.css">
    <title>Profile-FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
<div id="title-container">
  <p class="line-1 anim-typewriter">&lt;/forum&gt;</p>
  <div class="imgContainer">

     
    {{if .Logged}}
    <img id="logoutImg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNKLd_50v-5_W2gtKHNz1cjjLivUIO2KQ_cA&usqp=CAU"  onclick="window.location.href='/logout';"></img>
    {{else}}
    <img id="logoutImg"src="https://cdn4.iconfinder.com/data/icons/ui-marketplace-1-0-flat/19/4_login-256.png"  onclick="window.location.href='/signin';"></img>

    {{end}}
     
  </div>
</div>
      </div>
      <div class="top-bar">
        <span><a href="/"> Home</a></span>
        <span><a href="/submit-post"> Create Post</a></span>
        <span><a href="/liked-posts"> Liked Posts</a></span>
        <span><a href="/created-posts">Created Posts</a></span>
       
      </div>
    </div>
  </nav>
    <div class="container">
      <span>
        <div class="profile-info">
          <img id="profilePhoto" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Photo" style="max-width: 100px; max-height: 100px;">
          <p id="userName">Name:  {{.User.Username}}</p>
        </div>
      </span>
        <div class="create-post">

          <form id="create-post-form" method="POST" action="/submit-post"> 
              <span class="title-container">
              <p id="title">Title</p>  
              <input type="text"  minlength="1" id="postTitle" name="postTitle" class="postTitle" placeholder="Title" style="width: 250px;">
              {{if .EmptyTitle}}
              <p style="color: red;"> Can't be empty</p>
              {{end}}
              </span>
  
              <span class="filters">
  
                <a class="filters-title" >Filters:</a>
      
    <input type="checkbox" name="postTopicJava" class="round-checkbox" id="javaCheckbox"  value="Java" >
                <label class="checkbox-label" for="javaCheckbox"></label>
                <label for="javaCheckbox">Java</label>
                
                <input type="checkbox" name="postTopicKotlin" class="round-checkbox" id="kotlinCheckbox" value="Kotlin">
                <label class="checkbox-label" for="kotlinCheckbox"></label>
                <label for="kotlinCheckbox">Kotlin</label>
                
                <input type="checkbox" name="postTopicPython" class="round-checkbox" id="pythonCheckbox" value="Python">
                <label class="checkbox-label" for="pythonCheckbox"></label>
                <label for="pythonCheckbox">Python</label>
      
              </span>
              <input type="text" id="postTopicInput" name="postTopicInput" class="postTopicInput" placeholder="Topic" style="width: 250px;">
  
          <span class="text-container">
              <p id = "your-message">Your message</p>
              {{if .EmptyContent}}
              <p style="color: red;"> Can't be empty</p>
              {{end}}
              <textarea  name="postContent" class="postContent" id="text-area" placeholder="Message" ></textarea>
          </span>
          <button type="submit" class="postSubmit" >Publish</button>
      </form>
       
  </div>
  </span>
  </div>
    
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const postSubmit = document.querySelector(".postSubmit");
        if (postSubmit) {
            postSubmit.addEventListener("click", function (event) {
                const postContent = document.querySelector(".postContent").value;
                const postTitle = document.querySelector(".postTitle").value;
                if (postContent.length < 15 || postTitle.length < 2) {
                    event.preventDefault(); // Prevent form submission
                    alert("Title should have at least 2 characters, and content should have at least 15 characters.");
                }
            });
        }
    });
</script>
</body>
</html>
