<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/home_style.css">
    <title>FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="title-container">
          <p class="line-1 anim-typewriter">&lt;/forum&gt;</p>
          <div class="imgContainer">
            <img id="notificationImg" src="https://gagaru.club/uploads/posts/2023-06/1686068744_gagaru-club-p-kolokolchik-malenkii-vkontakte-1.png"></img>
           <!-- {{if .Logged}}
           <img id="logoutImg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNKLd_50v-5_W2gtKHNz1cjjLivUIO2KQ_cA&usqp=CAU"  onclick="window.location.href='/logout';"></img>
           {{else}}
          
           {{end}} -->
            
          </div>

        </div>
      </div>
      <div class="top-bar">
        <span><a href="/"> Home</a></span>
        <span><a href="/submit-post"> Create Post</a></span>
        <span><a href="/liked-posts"> Liked Posts</a></span>
        <span><a href="/created-posts">Created Posts</a></span>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <span>
      <div class="profile-info">
        <img id="profilePhoto" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Photo" style="max-width: 100px; max-height: 100px;">
        <p id="userName">Name:  {{.User.Username}}</p>
      </div>
    </span>
    <div class="container-content">
      <div class="actions">
      
        <!-- <div class="search">
          <input type="search" name="q" placeholder="Search..." />
          <button type="submit">Search</button>
        </div> -->
        
        <div class="filters">
          <a class="filters-title" >Filters:</a>
          <input type="checkbox" class="round-checkbox" id="javaCheckbox">
          <label class="checkbox-label" for="javaCheckbox"></label>
          <label for="javaCheckbox">Java</label>

          <input type="checkbox" class="round-checkbox" id="kotlinCheckbox">
          <label class="checkbox-label" for="kotlinCheckbox"></label>
          <label for="kotlinCheckbox">Kotlin</label>

          <input type="checkbox" class="round-checkbox" id="pythonCheckbox">
          <label class="checkbox-label" for="pythonCheckbox"></label>
          <label for="pythonCheckbox">Python</label>

          <input type="checkbox" class="round-checkbox" id="golangCheckbox">
          <label class="checkbox-label" for="golangCheckbox"></label>
          <label for="golangCheckbox">Golang</label>

          <input type="checkbox" class="round-checkbox" id="phpCheckbox">
          <label class="checkbox-label" for="phpCheckbox"></label>
          <label for="phpCheckbox">PHP</label>

          <input type="checkbox" class="round-checkbox" id="javascriptCheckbox">
          <label class="checkbox-label" for="javascriptCheckbox"></label>
          <label for="javascriptCheckbox">JavaScript</label>

          <input type="checkbox" class="round-checkbox" id="sqlCheckbox">
          <label class="checkbox-label" for="sqlCheckbox"></label>
          <label for="sqlCheckbox">SQL</label>

        </div>
      </div>


</div>
</span>
</div>

</body>
</html>