<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FORUM</a>
      </div>
        <span><a href="/register"> Sign Up</a></span>
        <span><a href="/submit-post"> Create Post</a></span>
        <span><a href="/liked-posts"> Liked Posts</a></span>
        <span><a href="/created-posts">Created Posts</a></span>
        <span><a href="/logout">Log out</a></span>
    </div>
    
    <div class="actions">
       
        
      <form id="create-post-form" method="POST" action="/submit-post"> 
      
        <span class="filters">
          <input type="checkbox" name="postTopic" class="round-checkbox" id="javaCheckbox"  value="Java" >
          <label class="checkbox-label" for="javaCheckbox"></label>
          <label for="javaCheckbox">Java</label>
          
          <input type="checkbox" name="postTopic" class="round-checkbox" id="kotlinCheckbox" value="Kotlin">
          <label class="checkbox-label" for="kotlinCheckbox"></label>
          <label for="kotlinCheckbox">Kotlin</label>
          
          <input type="checkbox" name="postTopic" class="round-checkbox" id="pythonCheckbox" value="Python">
          <label class="checkbox-label" for="pythonCheckbox"></label>
          <label for="pythonCheckbox">Python</label>
        </span>
          <input type="text"  classid="postTopicInput" name="postTopicInput" class="postTopicInput" placeholder="Topic" style="width: 250px;">

    <button type="submit" class="postSubmit" >Publish</button>
</form>

        
    </div>
  </nav>
 

  {{if .Posts}}
  {{range .Posts}}
<li><p>Name:<a href="/post/{{.Id}}"> {{.Title}} </a></p> <p>Author: {{.PostAuthorName}}</p>  <p> Topics: {{.Topic}}</p>  </li>
  {{end}}
  {{end}}



  <script>
    document.addEventListener("DOMContentLoaded", function () {
       

      const postSubmit = document.querySelector(".postSubmit");
          
          if (postSubmit) {
            postSubmit.addEventListener("click", function (event) {
                  event.preventDefault();
          
                  // Get the comment content from the input field
                  
          const selectedCheckboxes = document.querySelectorAll('input[name="postTopic"]:checked');
          const postTopicInput =document.querySelector(".postTopicInput").value
          const selectedTopics = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);
        selectedTopics.push(postTopicInput)
                  // Send the comment content as JSON
                  fetch("/filter", {
                      method: "POST",
                      body: JSON.stringify({
                        topics: selectedTopics
                      }),
                      headers: {
                          "Content-Type": "application/json",
                      },
                  })
                  .then(response => response.json())
                  .then(data => {
          
                      console.log(data)
                  
                      // You can handle the response data here
                  })
                  .catch(error => {
                      console.error(error);
                  });
              });
          }

    });
</script>

</body>
</html>