<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FORUM</a>
      </div>
        <span><a href="/register"> Sign Up</a></span>
        <span><a href="/submit-post"> Create Post</a></span>
        <span><a href="/signin"> Liked Posts</a></span>
        <span><a href="/categories"> Categories</a></span>
    </div>
    
    <div class="actions">
        <button>
            <a href="/createpost">Create Post</a>
        </button>
        <textarea style="width: 250px;" placeholder="Search"></textarea>
        <button>Search</button>
        <span class="filters">
<input type="checkbox" class="round-checkbox" id="javaCheckbox">
<label class="checkbox-label" for="javaCheckbox"></label>
<label for="javaCheckbox">Java</label>

<input type="checkbox" class="round-checkbox" id="kotlinCheckbox">
<label class="checkbox-label" for="kotlinCheckbox"></label>
<label for="kotlinCheckbox">Kotlin</label>

<input type="checkbox" class="round-checkbox" id="pythonCheckbox">
<label class="checkbox-label" for="pythonCheckbox"></label>
<label for="pythonCheckbox">Python</label>

<input type="checkbox" class="round-checkbox" id="golangCheckbox">
<label class="checkbox-label" for="golangCheckbox"></label>
<label for="golangCheckbox">Golang</label>

<input type="checkbox" class="round-checkbox" id="phpCheckbox">
<label class="checkbox-label" for="phpCheckbox"></label>
<label for="phpCheckbox">PHP</label>

<input type="checkbox" class="round-checkbox" id="javascriptCheckbox">
<label class="checkbox-label" for="javascriptCheckbox"></label>
<label for="javascriptCheckbox">JavaScript</label>

<input type="checkbox" class="round-checkbox" id="sqlCheckbox">
<label class="checkbox-label" for="sqlCheckbox"></label>
<label for="sqlCheckbox">SQL</label>

        </span>
    </div>
  </nav>
  <div class="panel posts">
  </div>
</body>
</html>