<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FORUM</a>
      </div>
        <span><a href="/register"> Created Posts</a></span>
        <span><a href="/signin"> Liked Posts</a></span>
        <span><a href="/categories"> Categories</a></span>
    </div>
    
    <div class="actions">
        <button>
            <a href="/createpost">Create Post</a>
        </button>
        <textarea style="width: 250px;" placeholder="Search"></textarea>
        <button>Search</button>
        <span class="filters">
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">Java</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">Kotlin</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">Python</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">Golang</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">PHP</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">JavaScript</label>
            <input type="checkbox" class="round-checkbox" id="myCheckbox">
            <label class="checkbox-label" for="myCheckbox"></label>
            <label for="myCheckbox">SQL</label>
        </span>
    </div>
  </nav>
  <div class="panel posts">
  </div>
</body>
</html>