<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile-FORUM</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FORUM</a>
        <div class="imgContainer">
          <!-- <img id="notificationImg" src="https://gagaru.club/uploads/posts/2023-06/1686068744_gagaru-club-p-kolokolchik-malenkii-vkontakte-1.png"></img> -->
         {{if .Logged}}
         <img id="logoutImg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNKLd_50v-5_W2gtKHNz1cjjLivUIO2KQ_cA&usqp=CAU"  onclick="window.location.href='/logout';"></img>
         {{else}}
         <img id="logoutImg"src="https://cdn4.iconfinder.com/data/icons/ui-marketplace-1-0-flat/19/4_login-256.png"  onclick="window.location.href='/signin';"></img>

         {{end}}
          
        </div>
      </div>
      <span><a href="/">Home</a></span>
    </div>
    <span class="user-info">
        <image></image>
        <p>Name: </p>
        <p>Email: </p>
    </span>
  </nav>
  <div class="panel notification">
    <h1>NOTIFICATIONS HERE</h1>
  </div>
</body>
</html>
