<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
</head>
<body>

    {{if .Post}}

    <div class="post">
        <p> <b>Author:</b>  {{ .Post.PostAuthorName }} </p>
        <h2> <b>Title:</b>  {{ .Post.Title }}</h2>
        <p> <b>Content</b> {{ .Post.Content }}</p>
        <form action="/like-post/{{.Post.Id}}" method="POST">
        <button class="like-button liked" type="submit" name="button" value="like">like</button>
                        <span class="likes">{{.Likes}}</span>
                        <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                        <span class="dislikes">{{.Dislikes}}</span>
                    </form>
        
    </div>


    <h3>Comments section</h3>
    <ul>

        {{ range .Comments }}
        <li>    
            
            <p>{{ .Content }}</p>
            <br>
            <p>Likes: {{ .Like }}</p>
            <p>Dislikes: {{ .Dislike }}</p>
        </li>
        {{ end }}
    </ul>

    <!-- Comment Form -->
    <form action="/post/{{.Id}}" method="POST">
        <input type="hidden" name="postId" value="{{ .Id }}">
        <input type="text" name="commentContent" placeholder="Add a comment">
        <button type="submit">Submit Comment</button>
    </form>

    <button> <a href="/"> Home </a> </button>
    {{ else }}
    <p>Post not found.</p>
    {{ end }}
</body>
</html>
