<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/post_style.css">
    <title>Post Page</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <div id="title-container">
              <p class="line-1 anim-typewriter">&lt;/forum&gt;</p>
              <div class="imgContainer">
                <!-- <img id="notificationImg" src="https://gagaru.club/uploads/posts/2023-06/1686068744_gagaru-club-p-kolokolchik-malenkii-vkontakte-1.png"></img> -->
               {{if .Logged}}
               <img id="notificationImg" src="https://gagaru.club/uploads/posts/2023-06/1686068744_gagaru-club-p-kolokolchik-malenkii-vkontakte-1.png" onclick="window.location.href='/notify';"></img>

               <img id="logoutImg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNKLd_50v-5_W2gtKHNz1cjjLivUIO2KQ_cA&usqp=CAU"  onclick="window.location.href='/logout';"></img>
               {{else}}
               <img id="logoutImg"src="https://cdn4.iconfinder.com/data/icons/ui-marketplace-1-0-flat/19/4_login-256.png"  onclick="window.location.href='/signin';"></img>
    
               {{end}}
                
              </div>
            </div>
          </div>
          <div class="top-bar">
            <span><a href="/"> Home</a></span>
            <span><a href="/submit-post"> Create Post</a></span>
            <span><a href="/liked-posts"> Liked Posts</a></span>
            <span><a href="/created-posts">Created Posts</a></span>
            <span><a href="/activities">Activites</a></span>
          </div>
        </div>
      </nav>
    {{if .Post}}
    <div class="post">
        <p> <b>Author:</b>  {{ .Post.PostAuthorName }} </p>
        <h2> <b>Title:</b>  {{ .Post.Title }}</h2>
        <p> <b>Content</b> {{ .Post.Content }}</p>
        <p>  <b>Topics:</b> </p>
        {{range .Post.Topic}}
            <ol>
                {{ if . }} 
                <li>{{.}}</li>
                {{else }}
                {{end}}
                
            </ol>
            
        {{end}}
        <form action="/like-post/{{.Post.Id}}" method="POST">
        {{if .Post.Liked}}
        <button class="like-button liked" type="submit" name="button" value="like" style="background-color: green;">like</button>
        {{else}}
        <button class="like-button liked" type="submit" name="button" value="like">like</button>
        {{end}}
                        <span class="likes">{{.Likes}}</span>
                        {{if .Post.Disliked}}
                        <button class="dislike-button not-disliked" type="submit" name="button" value="dislike" style="background-color:red ;">dislike</button>
                        {{else}}
                        <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                        {{end}}
                        <span class="dislikes">{{.Dislikes}}</span>
                    </form>
        
    </div>
    <h3 id="comm_title">Comments</h3>
    <ul>
        {{ range .Post.Comments}}
        <li>
            <p> {{ .CommentAuthorName }}</p>
            <p>{{ .Content }}</p>
            <form action="/like-comment/{{.CommentID}}" method="POST">
                <br>
              {{if .Liked}}
              <button class="commButtonLike" type="submit" name="commButton" value="like" data-comment-id="{{.CommentID}}" style="background-color:green ;">like</button>
              {{else}}
              <button class="commButtonLike" type="submit" name="commButton" value="like" data-comment-id="{{.CommentID}}">like</button>
              {{end}}
                <span class="likes">{{.Like}}</span>
                {{if .Disliked}}
                <button class="commButtonDislike" type="submit" name="commButton" value="dislike" data-comment-id="{{.CommentID}}" style="background-color: red;">dislike</button>
                {{else}}
                <button class="commButtonDislike" type="submit" name="commButton" value="dislike" data-comment-id="{{.CommentID}}">dislike</button>
                {{end}}
                <span class="dislikes">{{.Dislike}}</span>
            </form>
        </li>
       
        
{{ end }}
    </ul>
    <!-- Comment Form -->
    {{if .Empty}}
    <p style="color: red;"> Can't be empty</p>
    {{end}}
    <form action="/post/{{.Post.Id}}" method="POST">
        <input type="hidden" name="postId" value="{{.Post.Id}}">
        <input type="text" name="commentContent"  class="commentContent" placeholder="Add a comment">
        <button class="submitComment" type="submit">Submit Comment</button>
    </form>
    {{ else }}
    <p>Post not found.</p>
    {{ end }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
           
    
            
const likeButtonsComment = document.querySelectorAll(".commButtonLike");
    const dislikeButtonsComment = document.querySelectorAll(".commButtonDislike");
    likeButtonsComment.forEach(likeButtonComment => {
        likeButtonComment.addEventListener("click", function (event) {
            event.preventDefault();
            const commentID = likeButtonComment.getAttribute("data-comment-id");
            // Select the like and dislike counts for the specific comment
            const likesElement = likeButtonComment.nextElementSibling;
           const dislikeButtonComment = likeButtonComment.nextElementSibling.nextElementSibling;
            const dislikesElement = likeButtonComment.nextElementSibling.nextElementSibling.nextElementSibling;
            // Send an AJAX request to update the reaction for the specific comment
            fetch(`/like-comment/${commentID}`, {
                method: "POST",
                body: JSON.stringify({ reaction: "like" }),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Update the like and dislike counts for the specific comment
                likesElement.textContent = data.likes;
                dislikesElement.textContent = data.dislikes;
                if (data.reaction === 1) {
                    likeButtonComment.style.backgroundColor = "green";
                    dislikeButtonComment.style.backgroundColor ="";
                      } else {
                        likeButtonComment.style.backgroundColor = ""; // Reset the background color
                      }
                // You can handle the response data here
            })
            .catch(error => {
                console.error(error);
            });
        });
    });
    dislikeButtonsComment.forEach(dislikeButtonComment => {
        dislikeButtonComment.addEventListener("click", function (event) {
            event.preventDefault();
            const commentID = dislikeButtonComment.getAttribute("data-comment-id");
            // Select the like and dislike counts for the specific comment
         const   likeButtonComment = dislikeButtonComment.previousElementSibling.previousElementSibling;
            const likesElement = dislikeButtonComment.previousElementSibling
            const dislikesElement = dislikeButtonComment.nextElementSibling;
            // Send an AJAX request to update the reaction for the specific comment
            fetch(`/like-comment/${commentID}`, {
                method: "POST",
                body: JSON.stringify({ reaction: "dislike" }),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Update the like and dislike counts for the specific comment
                likesElement.textContent = data.likes;
                dislikesElement.textContent = data.dislikes;
                if (data.reaction === -1) {
                    dislikeButtonComment.style.backgroundColor = "red";
                    likeButtonComment.style.backgroundColor ="";
                      } else {
                        dislikeButtonComment.style.backgroundColor = ""; // Reset the background color
                      }
                // You can handle the response data here
            })
            .catch(error => {
                console.error(error);
            });
        });
    });
        });
        
    </script>
    
   
</body>
</html>
