body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.element {
    background-color: white;
    padding: 50px 120px;
    border-radius: 35px;
    color: #0000df;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.preBack {
    color: #0000df;
    font-family: 'Oswald', sans-serif;
    font-size: 200px;
    margin-bottom: 30px;
}

.but {
    background-color: #0000df;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 35px;
    margin-top: 50px;
    text-decoration: none;
}
