body {
    background-color: lightgray;
}
.container-fluid{
    background-color: white;
    border-radius: 10px;
    height:max-content;
}
.navbar-brand {
    color: #000080;
    font-family: 'Oswald', sans-serif;
    text-decoration: none; 
    padding: 20px; 
    font-size: 35px;
    display: flex;
    align-items: center; 
    line-height: 1.5; 
    
}
.top-bar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 30px;
}

.top-bar a {
    text-decoration: none; 
    color: #000080;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition: box-shadow 0.3s;
    border-radius: 10px;
}

.top-bar a[href="/liked-posts"] {
    border: 2px solid#0000df; 
    border-radius: 10px; 
}
.top-bar a:not([href="/liked-posts"]):hover {
    box-shadow: 0 0 20px #0000df;
}
.actions {
    background-color: #f5f5f5; 
    padding: 10px; 
    border-radius: 10px;
    margin-top: 10 px;
    margin-bottom: 10px;
        display: block;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap; 
    font-family: 'Noto Sans', sans-serif;

}

.filters-title{
    color: #000080;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.round-checkbox {
    display: none; 
}

.checkbox-label {
    width: 12px;
    height: 12px;
    border: 2px solid  #000080; 
    border-radius: 50%; 
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px 20px;
    vertical-align: middle;
    
}


.checkbox-label::before {
    content: ""; 
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0000df; 
    border-radius: 50%; 
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 0.2s;
}

.checkbox-label + label {
    cursor: pointer;
    
}

.round-checkbox:checked + .checkbox-label::before {
    transform: scale(1); 
}
.post-card {
    background-color:  #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.post-title {
    color: #000080;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.post-author, .post-topics {
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Noto Sans', sans-serif;
    color: #000080;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 10px;
    clear: both; 
    width: 100%;
  }
  

  .search input[type="search"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #000080; 
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search button[type="submit"] {
    background-color: #000080; 
    color: white; 
    padding: 10px 20px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.4s;
  }
  
  .search input[type="search"]::placeholder {
    color: #999;
  }
  
  .search button[type="submit"]:hover {
    background-color: #0000df;
  }
  
.profile-info {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    aspect-ratio: 1 / 1; 
    height: 200px;
    font-size: 20px;
}

.container-content  {
    display: block;
    margin-bottom: 20px;
    flex: 1;
}

.container{
    box-sizing: border-box;
    display: flex;
    
}

#profilePhoto {
    height: 200px;
    width: 200px;

    margin-top: 20px;
    border-radius: 10px;
  }
  #userName{
    font-family: 'Oswald', sans-serif;
    color : #000080; 
  }
  .line-1{
    color: #000080;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: flex;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-right: 4px solid #000080; 
    font-size: 3em;
    width: 24em;
    text-align: center;
}

/* Animation */
.anim-typewriter{
animation: typewriter 0.7s steps(8) 1s 1 normal both,
blinkTextCursor 700ms steps(8) infinite normal;
             
}
@keyframes typewriter{
  from{width: 0em;}
  to{ width: 3.7em; }
}
@keyframes blinkTextCursor{
  from{border-right-color:#000080;}
  to{border-right-color: transparent;}
}
#title-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
#logoutImg{
    padding: 10px;
    height: 30px;
    width: auto;
}
.imgContainer{
    margin-left: auto; 
    margin-right: 0; 
}
#notificationImg{
    padding: 10px;
    height: 30px;
    width: auto;
}
  .navbar-header::after {
    content: "";
    display: block;
    background-color: #0000df; 
    height:10px; 
    width: 100%; 
}
#sign-up-icon{
    background: #000080;
    color: white;
    font-family:'Oswald', sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.topics-list {
    list-style: none; 
    display: flex; 
    gap: 5px; 
}

.topic-item {
    background-color: white; 
  border-radius: 20px;
    border-radius: 5px; 
    padding: 5px 10px; 
    color:#000080;
    font-family:'Oswald', sans-serif;
}
